:root {
  --base-color: #101820;
  --secondary-color: #FEE715;
  --text-1: Abril Fatface;
  --text-2: Lato;
}
* {
  box-sizing: border-box;
  font-size: 10px;
  color: var(--secondary-color);
  font-family: var(--text-1)
}
body {
  background-color: var(--base-color);
}

header {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 2fr;
  border: 1px solid #FEE715;
}

#site-anchor {
  padding: 2rem;
  border: 1px solid #FEE715;
}

#menu-options {
  border: 1px solid #FEE715;
}

#menu-options > li {
  display: inline;
  padding: 1rem;
}

